body {
    background-color: black;
    margin: 0; 
}

#link{
    
    font-size: 50ßt;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: auto;  
    z-index: -1;
}


p{

    color:rgb(255, 255, 255);
    font-size:10vw ;
    font-family: myfont;

}

#collage {
    width: 60vw; 
    display: block;
    margin-top: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 1000;
}


.nav-center {
    display: flex;
    gap: 60px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: myfont;
}

#container a:hover { 
    opacity: 0.6;
}

#button-container {
    position: relative;
    margin-left: auto;
    margin-right: 45px;
    width: 115px;
}


#button {
    width: 115px;
    display: block;
}


#button-text {
    position: absolute;
    right: 22px;      
    top: 50%;
    transform: translateY(-50%);
    
    color: rgb(0, 0, 0);
    font-family: myfont;
    font-size: 20px;
    pointer-events: none; 
}

@font-face {
    font-family: myfont;
    src: url(./fonts/InterDisplay-Light.ttf);
}