:root{
    --black: #000000;
    --white: #ffffff;
    --gradient: linear-gradient(to top, #000000 0,01%, #ffffff 100%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    margin: 0; 
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    padding: 30px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-family: myfont;
    transition: 0.2s ease;
}

nav a:hover {
    opacity: 0.7;
}

header div {
    position: absolute;
    right: 30px;
}

.button {
    background: var(--gradient);
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-family: myfont;
    padding: 8px 16px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    transition: 0.2s ease;
}

.button:hover {
    background-color: #e5e5e5;
    transform: scale(1.05);
    opacity: 0.85;
}

#link{
    
    font-size: 50ßt;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: auto;  
    z-index: -1;
}


p{
    color: var(--white);
    font-size:10vw ;
    font-family: myfont;

}

#collage {
    width: 60vw; 
    display: block;
    margin-top: 100vh;
    margin-left: auto;
    margin-right: auto;
}



@font-face {
    font-family: myfont;
    src: url(./fonts/InterDisplay-Light.ttf);
}